

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*{
    padding: 0;
    margin: 0px;
}

.background-img{
    
    text-align: center;
    position: absolute;
    width:100%;
    height: 100%;
}

.navbar{
    background-color: transparent;
   background: transparent;
   border-color: transparent;
    
    
}

.menu{
    margin-top: 10px;
}
.link{
    font-family: "Roboto light";
    display: inline-block;
    padding:20px;
    margin-top: 10px;
    
}


.logo {
    float: left;
    padding: 17px;
    margin-left: 3px
}

.container {
    float:none;
    width:50%;
    text-align: center
}
.lets-talk{
    font-family: "Roboto light";
    margin: 15px;
    margin-right: 20px;
    float: right;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    color: white;
    width:130px;
    height:50px;
    border: 1px solid #FFFFFF;
    background-color: rgba(67,67,67,0.5);
}

.navbar-header{
    margin-top: 15px;
    
}
.buttons{
    margin-top: 200px;
    width: 1366px;
    height: 355px;
    position: absolute;
    display: inline-block;
}
.buttons-squares{
    margin-left:250px;
    margin-top: 235px;
    width: 886px;
    height: 220px;
    position: absolute;
    display: inline-block;
}
.left-button{
    float: left;
    margin-top: 45px;
    margin-left: -45px;
    font-family: "Roboto light";
    font-size: 4;
    text-align: center;
    line-height: 50px;
    transform: rotate(90deg);
    position: relative;
    color: white;
    background-color: rgba(63,63,63,1); 
    width:140px;
    height: 50px;
   
}
.right-button{
    float: right;
    margin-top: 45px;
    margin-right:-45px;
    font-family: "Roboto light";
    font-size: 4;
    text-align: center;
    line-height: 50px;
    transform: rotate(-90deg);
    position: relative;
    color: white;
    background-color: rgba(63,63,63,1); 
    width:140px;
    height: 50px;
   
}
.middle-button{
    margin-left:613px;
    margin-right: 613px;
    text-align: center;
    line-height: 50px;
    margin-top: 305px;
    font-family: "Roboto light";
    font-size: 4;
    text-align: center;
    position: relative;
    color: white;
    background-color: rgba(63,63,63,1); 
    width:140px;
    height: 50px;
   
}
.square-left{
    font-size: 25px;
    color:white;
    text-align: center;
    line-height: 37px;
    float:left;
    position: absolute;
    border: 1px solid #FFFFFF;
    width:40px;
    height:40px;
    
}
.square-right{
   font-size: 25px;
    color:white;
    text-align: center;
    line-height: 37px;
    margin-left: 846px;
    position: absolute;
    border: 1px solid #FFFFFF;
    width:40px;
    height:40px;
    
}
.square-bot{
  font-size: 25px;
    color:white;
    text-align: center;
    line-height: 37px;
    margin-top:180px;
    margin-left: 423px;
    position: absolute;
    border: 1px solid #FFFFFF;
    width:40px;
    height:40px;
    
}